.Title {
  background: var(--color-primary);
  background: linear-gradient(0deg, var(--color-primary) 0%, var(--color-primary-dark) 100%);
  color: var(--color-font-contrast);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;

  &__heading {
    margin: 0;
    padding: 0;
    font-size: 3em;
  }

  &__subheading {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 600px) {
  .Title {
    height: 40vh;

    &__heading {
      font-size: 6em;
    }
  }
}
